<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="base.urdf.xacro"/>
  <xacro:include filename="right_wheel.urdf.xacro"/>

  <!-- <link name="world"> -->
  <!-- </link> -->
  <!---->
  <!-- <joint name="world_joint" type="fixed"> -->
  <!--   <parent link="world"/> -->
  <!--   <child link="base_link"/> -->
  <!--   <origin xyz="0 0 0.01"/> -->
  <!-- </joint> -->

  <link name="base_link"/>

  <xacro:base name="base" parent="base_link">
    <origin xyz="0 0 0.355" rpy="0 0 ${pi/2}"/> <!-- wheels touch the ground with z=0.345-->
  </xacro:base>

  <xacro:right_back_arm name="right_wheel" parent="base">
    <origin xyz="0 0 0.355" rpy="0 0 ${pi/2}"/> <!-- wheels touch the ground with z=0.345-->
  </xacro:right_back_arm>

</robot>
